@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Rubik&display=swap');

body{
  background: #F6F5F5;
  margin: 0;
  font-family: 'Radio Canada', sans-serif;
  color: #2D0C57;
}

*{
  text-decoration: none;
}

.glass{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
  
}

.btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.btn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.btn:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}




  .btn-r {
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: .8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    word-break: break-word;
    border: 0;
  }
  
  .btn-r:active,
  .btn-r:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
    outline: 0;
  }
  
  .btn-r:hover {
    border-bottom-style: none;
    border-color: #dadada;
  }


  .btn-l {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .btn-l:hover,
  .btn-l:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .btn-l:hover {
    transform: translateY(-1px);
  }
  
  .btn-l:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }


.m{
  margin: 2px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}



.cont-img{
  margin: 0;
  height: 56vh;
  background: url(https://images.unsplash.com/photo-1519213887655-a4f199e3015b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}

.cont-m{
  font-size: xx-large;
  background: #00000063;
  justify-content: center;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  color: white;
}

.welco{
  margin: 60px 0;
  padding: 20px;
  text-align: center;
}

.why{
  margin: 60px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.why-w{
  border-radius: 32px;
  background: white;
}

.p-1{
  display: flex;
  align-items: center;
}

.point{
  width: 35vw;
}

@media only screen and (max-width:600px) {
  /*hide*/
  .sidenav,.lb-box,.s,.logo div{
    display: none;
  }

 
 .why{
  flex-wrap: wrap;
 }
  .point{
    width: 64vw;
  }
 
  /* width */
::-webkit-scrollbar {
  width: .15px;
  height: .15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}



.nav-box {
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  background: white;
  width: 100%;
  justify-content: space-around;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav ul ,li, a{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: black;
  
}

nav li{
  margin: 0 35px;
}

.nav ul{
  padding:  0;
  
}



.txt{
  font-size: 34px;
  font-weight: bold;
}



.lq{
  float: left;
}

.tb{
  padding: 0 34px;
}

.txt2{
  font-size: 20px;
}

.txt3{
  font-size: 18px;
  color: #A193B2;
}

.main{
  background: #8D33FF;
  height: 350px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.p-pic{
  border-radius: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 171px;
  text-align: center;
  height: 171px;
  background: #FFFFFF;
  box-shadow: 0px -20px 57.6px 20px rgb(254 254 254 / 20%), 1px 1px 12px 2px rgb(255 255 255 / 45%);
  transform: translateY(-93px);
}

.sub{
  text-align: center;
    display: grid;
    justify-content: space-around;
    border-radius: 32px 32px 0 0;
    background: #F6F5F5;
    margin: 0;
    padding: 20px;
    justify-items: center;
}

.info{
  float: left;
    margin: 15vh 0 0 0;
    left: 0;
    text-align: start;
    padding: 0 20px;
    position: absolute;
}

.con-info{
  margin: 70px 0 0;
}

.re-box{
  margin: 0;
    background: #F6F5F5;
    display: flex;
    flex-wrap: nowrap;
    /* padding: 0 0 10px; */
    overflow-y: scroll;
    padding: 0 10px;
}

.r-img{
  overflow: hidden;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
  background: white;
  box-shadow: 0px -20px 57.6px 20px rgb(254 254 254 / 20%), 1px 1px 12px 2px rgb(255 255 255 / 45%);
  border-radius:100px ;
  margin: 3px;
}

.msg{
  background: #F6F5F5;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 8px 5px;
}

.r-nam p{
margin: 1px;
}

.r-nam{
  float: left;
  position: relative;
}

.footer{
  height: 129px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* brocker */

.logo{
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 20px 10px;
  background: transparent;
}

.ser{
  background: white;
  border-radius: 32px;
  text-decoration: none;
  display: flex;
  padding: 8px;
}

div h1{
  margin: 20px;
}

.ser input{
  border: none;
  text-align: center;
  padding: 4px;
  width: 280px;
}

.ser-box{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.main-bro{
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}

.bro-img{
  border-radius: 100px;
  margin: 10px;
  overflow: hidden;
  width: 100px;
  justify-content: center;
  display: flex;
  
}

.rt{
  float: right;
}

.l-btn{
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
  display:grid;
  width: 150px;
  background: #ffff;
  box-shadow: 0 1px 25px rgba(0,0,0,0.2);
  padding: 12px 10px;
  margin:10px;
}

.card_load {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.card_load_extreme_title {
  width: 90px;
  height: 10px;
  position: relative;
  float: right;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: 100% 0;
  margin: 0 0 6px;
}

.card_load_extreme_descripion {
  width: 160px;
  height: auto;
  position: relative;
  float: right;
  border-radius: 5px;
  margin-top: 10px;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.overflow{
  overflow: scroll;
}


/* Loads */

.l-opt{
  display: flex;
  justify-content: space-around;
}

.l-opt-box{
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 32px;
  margin: 10px;
}

.load-box{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 39px 0;
}

.load-info{
  margin:5px 0;
  display: flex;
    justify-content: space-around;
    width: 370px;
    border-bottom: 2px solid gainsboro;
}

.lod-img img{
  border-radius: 12px;
}

/*home*/


.h-opt{
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 8px;
  border-radius: 32px;
  margin: 5px;
}

.slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dedede;
  padding: 8px;
  color: black;
  margin: 10px;
  background: white;
  box-shadow:-1px -20px 57.6px 20px rgb(254 254 254), 1px 1px 12px 2px rgb(255 255 255);;
}

.swip{
  display: flex;
  position: relative;
  background: transparent;
  border: 0.1px solid rgba(0, 0, 0, 0.295);
}

.u-l{
  text-align: center;
  display: contents;
  width: 100%;
}

.l-img{
  float: left;
}

.imp-l div h3{
  margin: 20px;
}

.cato{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background: white;
  align-items: center;
  justify-content: space-between;
  height: 136px;
  margin: 10px;
  padding: 9px;
}

.cato1{
  width: 91px;
  padding: 11px;
  margin: 5px;
  display: grid;
  justify-items: center;
  
}

.live{
  border-radius: 32px;
  background: white;
  text-align: center;
  height: 550px;
  margin: 20px 8px;
  position: relative;
  padding: 10px;
}

.sp{
  padding: 8px;
  margin: 12px 5px;
  height: 100px;
  background: transparent;
}

.ch-in{
  bottom: 9px;
  position: absolute;
  display: flex;
  padding: 0 15px;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
}

.ch-in input{
  
  width: 100%;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 9px;
  border: none;
}

.mar{
  padding: 10px;
}
}




@media only screen and (min-width: 600px)and (max-width: 1100px){
  
    .sidenav,.lb-box,.s,.logo div{
    display: none;
  }
  
  /* width */
::-webkit-scrollbar {
  width: .15px;
  height: .15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

body{
  background: #F6F5F5;
  margin: 0;
  font-family: 'Radio Canada', sans-serif;
  color: #2D0C57;
}

.glass{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.nav-box {
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  background: white;
  width: 100%;
  justify-content: space-around;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-ul,.nav-ul li{
  width: 103vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav ul , li, a{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: black;
  
}

nav li{
  margin: 0 35px;
}

.nav ul{
  padding:  0;
  
}






.txt{
  font-size: 34px;
  font-weight: bold;
}

.m{
  margin: 2px;
}

.lq{
  float: left;
}

.tb{
  padding: 0 34px;
}

.txt2{
  font-size: 20px;
}

.txt3{
  font-size: 18px;
  color: #A193B2;
}

.main{
  background: #8D33FF;
  height: 350px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.p-pic{
  border-radius: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 171px;
  text-align: center;
  height: 171px;
  background: #FFFFFF;
  box-shadow: 0px -20px 57.6px 20px rgb(254 254 254 / 20%), 1px 1px 12px 2px rgb(255 255 255 / 45%);
  transform: translateY(-93px);
}

.sub{
  text-align: center;
    display: grid;
    justify-content: space-around;
    border-radius: 32px 32px 0 0;
    background: #F6F5F5;
    margin: 0;
    padding: 20px;
    justify-items: center;
}

.info{
  float: left;
    margin: 15vh 0 0 0;
    left: 0;
    text-align: start;
    padding: 0 20px;
    position: absolute;
}

.con-info{
  margin: 70px 0 0;
}

.re-box{
  margin: 0;
    background: #F6F5F5;
    display: flex;
    flex-wrap: nowrap;
    /* padding: 0 0 10px; */
    overflow-y: scroll;
    padding: 0 10px;
}

.r-img{
  overflow: hidden;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
  background: white;
  box-shadow: 0px -20px 57.6px 20px rgb(254 254 254 / 20%), 1px 1px 12px 2px rgb(255 255 255 / 45%);
  border-radius:100px ;
  margin: 3px;
}

.msg{
  background: #F6F5F5;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 8px 5px;
}

.r-nam p{
margin: 1px;
}

.r-nam{
  float: left;
  position: relative;
}

.footer{
  height: 200px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* brocker */

.logo{
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 20px 10px;
  background: transparent;
}

.ser{
  background: white;
  border-radius: 32px;
  text-decoration: none;
  display: flex;
  padding: 8px;
}

div h1{
  margin: 20px;
}

.ser input{
  border: none;
  text-align: center;
  padding: 4px;
  width: 80vw;
}

.ser-box{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.main-bro{
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}

.bro-img{
  border-radius: 100px;
  margin: 10px;
  overflow: hidden;
  width: 100px;
  justify-content: center;
  display: flex;
  
}

.rt{
  float: right;
}

.l-btn{
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
  display:grid;
  width: 150px;
  background: #ffff;
  box-shadow: 0 1px 25px rgba(0,0,0,0.2);
  padding: 12px 10px;
  margin:10px;
}

.card_load {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.card_load_extreme_title {
  width: 90px;
  height: 10px;
  position: relative;
  float: right;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: 100% 0;
  margin: 0 0 6px;
}

.card_load_extreme_descripion {
  width: 160px;
  height: auto;
  position: relative;
  float: right;
  border-radius: 5px;
  margin-top: 10px;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.overflow{
  overflow: scroll;
}


/* Loads */

.l-opt{
  display: flex;
  justify-content: space-around;
}

.l-opt-box{
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 32px;
  margin: 10px;
}

.load-box{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 99vw;
  justify-content: space-around;
  padding: 0 0 39px 0;
}

.load-info{
  margin:5px 0;
  display: flex;
    justify-content: space-around;
    width: 40vw;
    border-bottom: 2px solid gainsboro;
}

.lod-img img{
  border-radius: 12px;
}

/*home*/


.h-opt{
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 8px;
  border-radius: 32px;
  margin: 5px;
}

.slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dedede;
  padding: 8px;
  color: black;
  margin: 10px;
  background: white;
  box-shadow:-1px -20px 57.6px 20px rgb(254 254 254), 1px 1px 12px 2px rgb(255 255 255);;
}

.swip{
  display: flex;
  position: relative;
  background: transparent;
  border: 0.1px solid rgba(0, 0, 0, 0.295);
}

.u-l{
  text-align: center;
  display: contents;
  width: 100%;
}

.l-img{
  float: left;
}

.imp-l div h3{
  margin: 20px;
}

.cato{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background: white;
  align-items: center;
  justify-content: space-between;
  height: 136px;
  margin: 10px;
  padding: 9px;
}

.cato1{
  width: 91px;
  padding: 11px;
  margin: 5px;
  display: grid;
  justify-items: center;
  
}

.live{
  border-radius: 32px;
  background: white;
  text-align: center;
  height: 550px;
  margin: 20px 8px;
  position: relative;
  padding: 10px;
}

.sp{
  padding: 8px;
  margin: 12px 5px;
  height: 100px;
  background: transparent;
}

.ch-in{
  bottom: 9px;
  position: absolute;
  display: flex;
  padding: 0 15px;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
}

.ch-in input{
  
  width: 100%;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 9px;
  border: none;
}

.mar{
  padding: 10px;
} 
}

@media only screen and (min-width: 1100px) {

  /*hides*/
  .nav-box{
    display:none ;
  }
  .slide{
    display: none;
  }

  .live{
    display:none;
  }




     /* width */
::-webkit-scrollbar {
  width: .15px;
  height: .15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

body{
  background: #F6F5F5;
  margin: 0;
  font-family: 'Radio Canada', sans-serif;
  color: #2D0C57;
}

.glass{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



.lnav ul li a{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: black;
  
}






.txt{
  font-size: 34px;
  font-weight: bold;
}

.m{
  margin: 2px;
}

.lq{
  float: left;
}

.tb{
  padding: 0 34px;
}

.txt2{
  font-size: 20px;
}

.txt3{
  font-size: 18px;
  color: #A193B2;
}

.main{
  background: #8D33FF;
  height: 350px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.p-pic{
  border-radius: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 171px;
  text-align: center;
  height: 171px;
  background: #FFFFFF;
  box-shadow: 0px -20px 57.6px 20px rgb(254 254 254 / 20%), 1px 1px 12px 2px rgb(255 255 255 / 45%);
  transform: translateY(-93px);
}

.sub{
  text-align: center;
    display: grid;
    justify-content: space-around;
    border-radius: 32px 32px 0 0;
    background: #F6F5F5;
    margin: 0;
    padding: 20px;
    justify-items: center;
}

.info{
  float: left;
    margin: 15vh 0 0 0;
    left: 0;
    text-align: start;
    padding: 0 20px;
    position: absolute;
}

.con-info{
  margin: 70px 0 0;
}

.re-box{
  margin: 0;
    background: #F6F5F5;
    display: flex;
    flex-wrap: nowrap;
    /* padding: 0 0 10px; */
    overflow-y: scroll;
    padding: 0 10px;
}

.r-img{
  overflow: hidden;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
  background: white;
  box-shadow: 0px -20px 57.6px 20px rgb(254 254 254 / 20%), 1px 1px 12px 2px rgb(255 255 255 / 45%);
  border-radius:100px ;
  margin: 3px;
}

.msg{
  background: #F6F5F5;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 8px 5px;
}

.r-nam p{
margin: 1px;
}

.r-nam{
  float: left;
  position: relative;
}

.footer{
  height: 129px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* brocker */

.logo{
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 20px 10px;
  
  align-items: center;
}

.ser{
  background: white;
  border-radius: 32px;
  text-decoration: none;
  display: flex;
  padding: 8px;
}

div h1{
  margin: 20px;
}

.ser input{
  border: none;
  text-align: center;
  padding: 4px;
  width: 80vw;
}

.ser-box{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.main-bro{
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}

.bro-img{
  border-radius: 100px;
  margin: 10px;
  overflow: hidden;
  width: 100px;
  justify-content: center;
  display: flex;
  
}

.rt{
  float: right;
}

.l-btn{
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
  display:grid;
  width: 150px;
  background: #ffff;
  box-shadow: 0 1px 25px rgba(0,0,0,0.2);
  padding: 12px 10px;
  margin:10px;
}

.card_load {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.card_load_extreme_title {
  width: 90px;
  height: 10px;
  position: relative;
  float: right;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: 100% 0;
  margin: 0 0 6px;
}

.card_load_extreme_descripion {
  width: 160px;
  height: auto;
  position: relative;
  float: right;
  border-radius: 5px;
  margin-top: 10px;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.overflow{
  overflow: scroll;
}


/* Loads */

.l-opt{
  display: flex;
  justify-content: space-around;
}

.l-opt-box{
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 32px;
  margin: 10px;
}

.load-box{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 99vw;
  justify-content: space-around;
  padding: 0 0 39px 0;
}

.load-info{
  margin:5px 0;
  display: flex;
    justify-content: space-around;
    width: 40vw;
    border-bottom: 2px solid gainsboro;
}

.lod-img img{
  border-radius: 12px;
}

/*home*/


.h-opt{
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 8px;
  border-radius: 32px;
  margin: 5px;
}

.lslide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dedede;
  padding: 8px;
  color: black;
  width: 21vw;
  margin: 10px;
  background: white;
  flex-wrap: wrap;
  box-shadow:-1px -20px 57.6px 20px rgb(254 254 254), 1px 1px 12px 2px rgb(255 255 255);;
}

.swip{
  display: flex;
  position: relative;
  background: transparent;
  border: 0.1px solid rgba(0, 0, 0, 0.295);
}

.u-ll{
  text-align: center;
  width: 100%;
}

.l-img{
  float: left;
}

.imp-l div h3{
  margin: 20px;
}

.cato{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background: white;
  align-items: center;
  justify-content: space-between;
  height: 136px;
  margin: 10px;
  padding: 9px;
}

.cato1{
  width: 91px;
  padding: 11px;
  margin: 5px;
  display: grid;
  justify-items: center;
  
}

.llive{
  border-radius: 32px;
  background: white;
  text-align: center;
  height: 550px;
  margin: 20px 8px;
  position: relative;
  width: 40vw;
  padding: 10px;
}

.sp{
  padding: 8px;
  margin: 12px 5px;
  height: 100px;
  background: transparent;
}

.ch-in{
  bottom: 9px;
  position: absolute;
  display: flex;
  padding: 0 15px;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
}

.ch-in input{
  
  width: 100%;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 9px;
  border: none;
}

.mar{
  padding: 10px;
} 

.lb-box{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.u-info{
  height: 21vh;
  display: flow-root;
}

.modal-content {
  width:22%;
}

}
